language: cpp

compiler:
  - gcc

addons:
  apt:
    packages:
      - clang-3.6

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libboost-all-dev
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.6"; fi

script: make unix-tests

branches:
  only:
    - master
    - dev

os:
  - linux
  - osx

cache:
  - apt